<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ocu News:</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/amcharts/plugins/export/export.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='libs/amcharts/amcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/amcharts/xy.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/amcharts/plugins/export/export.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/amcharts/themes/dark.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/amcharts/plugins/dataloader/dataloader.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='libs/jquery-3.3.1.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body onload="setup()">
    <div id="chartdiv" style="width:80%;height:500px;"></div>
    <div id="settings">
        <div id="settings-heading">Settings</div>
        <div class="setting">
            <div class="setting-text">Start Time:</div>
            <div class="setting-value">0</div>
            <input type="range" min="0" max="100" value="0" class="slider" id="slider-time-begin" oninput="updateSettingValue(this)" onchange="sendForm(this)">
        </div>
        <div class="setting">
            <div class="setting-text">End Time:</div>
            <div class="setting-value">100</div>
            <input type="range" min="0" max="100" value="100" class="slider" id="slider-time-end" oninput="updateSettingValue(this)" onchange="sendForm(this)">
        </div>
        <div class="setting">
            <div class="setting-text">Amount:</div>
            <div class="setting-value">20</div>
            <input type="range" min="0" max="30" value="20" class="slider" id="slider-time-end" oninput="updateSettingValue(this)" onchange="sendForm(this)">
        </div>
        <div class="setting">
            <div class="setting-text">Reddit Only:</div>
            <input type="checkbox" style="float:right;" onchange="sendForm(this)">
        </div>
        <div class="setting">
            <div class="setting-text">Twitter Only:</div>
            <input type="checkbox" style="float:right;" onchange="sendForm(this)">
        </div>
    </div>
    <div id="details" style="width:100%;background:blue;" onchange="sendForm(this)"></div>

    <script>
        function updateSettingValue(ele) {
            ele.parentNode.children[1].innerHTML = ele.value;
        }

        function sendForm(ele) {
            var index = {
                "Start Time:": "begin",
                "End Time:": "end",
                "Amount:": "clusters",
                "Reddit Only:": "reddit",
                "Twitter Only:": "twitter"
            };
            data[index[ele.parentNode.children[0].innerHTML]] = ele.value;
            console.log(data);
            load();
        }
    </script>
</body>


