<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ocu News:</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/amcharts/plugins/export/export.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='libs/amcharts/amcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/amcharts/xy.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/amcharts/plugins/export/export.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/amcharts/themes/dark.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/amcharts/plugins/dataloader/dataloader.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='libs/jquery-3.3.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body onload="setup()">
    <div id="chartdiv" style="width:80%;height:500px;"></div>
    <div id="settings">
        <div id="settings-heading">Settings</div>
        <div class="setting">
            <div class="setting-text">Start Time:</div>
            <div class="setting-value">0</div>
            <input type="range" min="-24" max="0" value="0" class="slider" id="slider-time-begin" oninput="updateSettingValue(this)" onchange="sendForm(this)">
        </div>
        <div class="setting">
            <div class="setting-text">End Time:</div>
            <div class="setting-value">0</div>
            <input type="range" min="-24" max="0" value="0" class="slider" id="slider-time-end" oninput="updateSettingValue(this)" onchange="sendForm(this)">
        </div>
        <div class="setting">
            <div class="setting-text">Amount:</div>
            <div class="setting-value">20</div>
            <input type="range" min="0" max="30" value="20" class="slider" id="slider-time-end" oninput="updateSettingValue(this)" onchange="sendForm(this)">
        </div>
<!--         <div class="setting">
            <div class="setting-text">Reddit Only:</div>
            <input type="checkbox" style="float:right;" onchange="sendForm(this)">
        </div>
        <div class="setting">
            <div class="setting-text">Twitter Only:</div>
            <input type="checkbox" style="float:right;" onchange="sendForm(this)">
        </div> -->
        <div class="setting">
            <div class="setting-text">x-axis:</div>
            <select name="x-axis" style="float:right;" onchange="sendForm(this)">
                <option value="date" selected>Time</option>
                <option value="reddit_sentiment">Reddit Sentiment</option>
                <option value="twitter_sentiment">Twitter Sentiment</option>
                <option value="cluster_size">Cluster Size</option>
            </select>
        </div>
        <div class="setting">
            <div class="setting-text">y-axis:</div>
            <select name="y-axis" style="float:right;" onchange="sendForm(this)">
                <option value="date">Time</option>
                <option value="reddit_sentiment" selected>Reddit Sentiment</option>
                <option value="twitter_sentiment">Twitter Sentiment</option>
                <option value="cluster_size">Cluster Size</option>
            </select>
        </div>
        <div class="setting">
            <div class="setting-text">Size:</div>
            <select name="size" style="float:right;" onchange="sendForm(this)">
                <option value="date">Time</option>
                <option value="reddit_sentiment">Reddit Sentiment</option>
                <option value="twitter_sentiment">Twitter Sentiment</option>
                <option value="cluster_size" selected>Cluster Size</option>
            </select>
        </div>
    </div>
    <div id="info">
        <div id="info-title"></div>
        <div id="info-area"></div>
    </div>

    <script>
        function updateSettingValue(ele) {
            ele.parentNode.children[1].innerHTML = ele.value;
        }

        function sendForm(ele) {
            var index = {
                "Start Time:": "start_time",
                "End Time:": "end_time",
                "Amount:": "num_clusters",
                "x-axis:": "x-axis",
                "y-axis:": "y-axis",
                "Size:": "value"
            };
            var i = index[ele.parentNode.children[0].innerHTML];
            options[i] = ele.value;
            if (i == "x-axis")
                updateXAxis(i);
            id (i == "y-axis")
                updateYAxis(i);
            load();
        }

        /*
         * {title: "", info:[], element:[{title:"", description: ""}]}
         */
        function displayInfo(info) {
            if (info.title != null)
                document.getElementById("info-title").innerHTML = info.title;
            var ele = document.getElementById("info-area");
            while (ele.children.length != 0)
                ele.children[0].remove();

            if (info.elements != null)
                for (var i = 0; i < info.elements.length; i++) {
                    var e = document.createElement("div");
                    e.classList.add("info-element");
                    var e1 = document.createElement("div");
                    e1.classList.add("info-element-title");
                    var e2 = document.createElement("a");
                    if (info.elements[i].title != null)
                        e2.innerHTML = info.elements[i].title;
                    if (info.elements[i].url != null)
                        e2.href = info.elements[i].url;
                    e1.appendChild(e2);
                    e.appendChild(e1);
                    if (info.elements[i].description != null) {
                        var e1 = document.createElement("div");
                        e1.classList.add("info-element-component");
                        e1.innerHTML = info.elements[i].description;
                        e.appendChild(e1);
                    }
                    ele.appendChild(e);
                }

            ele = document.getElementById("info-title");
            while (ele.children.length != 0)
                ele.children[0].remove();

            if (info.info != null)
                for (var i = 0; i < info.info.length; i++) {
                    if (info.info[i].value != null) {
                        var e = document.createElement("div");
                        e.classList.add("info-title-component");
                        e.innerHTML = info.info[i].value;
                        if (info.info[i].label != null)
                            e.title = info.info[i].label;
                        ele.appendChild(e);
                    }
                }
        }
    </script>
</body>
